* {
    padding: 0;
    margin: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body, html {
    height: 100%;
}

body {
    background-color: whitesmoke;
    display: flex;
    flex-direction: column;
}

/* HEADER */
.header {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    margin: 15px;
    
}

/* CONTENT */
#content {
  display: flex;
  height: 100%;
  width: 100%;
  justify-content: center;
  background-color: whitesmoke;
}

.subContent {
  height: 100%;
  margin: 0 5px;
  padding: 0 10px;
  border: 2px black solid;
  border-radius: 5px;
}

#contentProj {
  background: lightblue;
  width: 100%;
}

#contentTask {
  background: skyblue;
  width: 100%;
}

#contentTaskDetails {
  background: steelblue;
  width: 100%;
}

/* Project tab */
.project {
  height: 40px;
  display: flex;
  justify-content: space-around;
  background: white;
  margin: 15px 0;
  padding: 3px;
  border: 2px solid black;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.1s ease-in;
}

.titleProject {
  display: flex;
  justify-content: center;
  align-self: center;
  margin: 5px;
  flex-grow: 1;
}

.editProject {
  display: flex;
  justify-content: center;
  align-self: center;
  background: gray;
  margin: 5px;
  padding: 3px 6px;
  border: 2px solid black;
  border-radius: 5px;
  width: 15%;
  transition: 0.1s ease-in;
}

.deleteProject {
  display: flex;
  justify-content: center;
  align-self: center;
  background: red;
  margin: 5px;
  padding: 3px 6px;
  border: 2px solid black;
  border-radius: 5px;
  width: 15%;
  transition: 0.1s ease-in;
}

.editProjImg, .delProjImg {
  margin: 0 2px;
  }

.project:hover, .editProject:hover, .deleteProject:hover {
  transform: scale(1.03);
}

.openBtn {
  height: 40px;
  line-height: 40px;
  font-size: 20px;
  text-align: center;
  background: white;
  margin: 15px 0;
  padding: 3px;
  border: 2px solid black;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.1s ease-in;
}

.openBtn:hover {
  transform: scale(1.03);
}

.selectedProj {
  background-color: orange;
}

/* Task tab */
.task {
  height: 40px;
  display: flex;
  justify-content: space-around;
  background: white;
  margin: 15px 0;
  padding: 3px;
  border: 2px solid black;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.1s ease-in;
}

.titleTask {
  display: flex;
  justify-content: center;
  align-self: center;
  margin: 5px;
  flex-grow: 1;
}

.editTask {
  display: flex;
  justify-content: center;
  align-self: center;
  background: gray;
  margin: 5px;
  padding: 3px 6px;
  border: 2px solid black;
  border-radius: 5px;
  width: 15%;
  transition: 0.1s ease-in;
}

.deleteTask {
  display: flex;
  justify-content: center;
  align-self: center;
  background: red;
  margin: 5px;
  padding: 3px 6px;
  border: 2px solid black;
  border-radius: 5px;
  width: 15%;
  transition: 0.1s ease-in;
}

.editTaskImg, .delTaskImg {
  margin: 0 2px;
  }

.task:hover, .editTask:hover, .deleteTask:hover {
  transform: scale(1.03);
}

.titleTask, .titleProject {
  font-size: 20px;
}

.selectedTask {
  background-color: orange;
}

/* Task detail tab */
.taskDetails{
  height: 100%;
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  justify-content: space-around;
  margin: 15px 0;
}

.fourthRow {
  flex: 1;
}

.detailsContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  margin: 0 5px;
}

.label {
  font-size: 20px;
  font-weight: 500;
}

.detail {
  height: 40px;
  line-height: 40px;
  background: white;
  padding: 3px;
  border: 2px black solid;
  border-radius: 5px;
  text-align: center;
  font-size: 20px;
}

.notesTaskDetail {
  height: 100%;
  text-align: left;
}

/* FOOTER */
.footer {
    /* position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.5rem; */
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px;
  }
  
  .footer p {
    font-weight: 500;
    font-size: 25px;
  }
  
  .footer img {
    transition: all 0.2s ease;
  }
  
  .footer img:hover {
    transform: scale(1.1);
  }

  /* MODAL */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.3);
}

.modalContent { 
  position: absolute;
  background-color: white;
  margin: auto;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 40%;
  border: 1.5px solid black;
  box-shadow: 0 5px 8px 0 rgba(0,0,0,0.2), 0 7px 20px 0 rgba(0,0,0,0.17);
}

.modalTitle {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  line-height: 0.7em ; 
  margin: 15px;
  font-size: 25px;
}

.closeBtn {
  line-height: 0.7em ; 
  color:black;
  float: right;
  font-size: 40px;
  margin: 15px;
  transition: all 0.3s ease;
}

.closeBtn:hover, .closeBtn:focus {
  transform: scale(1.1);
  cursor: pointer;
}

.modalForm {
  margin: 20px;
}

.formContainer {
  /* position: relative; */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-self: center;
  width: 100%;
  height: 50%;
  overflow: hidden;
  margin: 15px;
}

.formContainer .labelContainer{
  margin: 5px 0;
  font-size: 20px;
}

.formContainer .labelContainerRadio{
  margin: 5px 0;
  font-size: 17px;
}

.formContainer input[value="1"] + .labelContainerRadio {
  color: green;
}

.formContainer input[value="2"] + .labelContainerRadio {
  color: orange;
}

.formContainer input[value="3"] + .labelContainerRadio {
  color: red;
}

.formContainer .inputContainer{
  width: 90%;
  height: 15px;
  padding: 5px;
  font-size: 15px;
}

#priorityForm {
  display: flex;
  flex-direction: column;
}

.formContainerRadio {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 90%;
  margin: 5px 0;
}

.formContainer #notesInputTask, .formContainer #notesInputTaskEdit{
  height: 100px;
  width: 90%;
}

.submitContainer {
  text-align: center;
  margin: 20px;
}

.submitButton {
  font-size: 20px;
  color: black;
  text-align: center;
  background: white;
  border: 1.5px solid black;
  border-radius: 5px;
  padding: 0.5em 1em;
  transition: 0.1s ease-in;
  cursor: pointer;
}

.submitButton:hover {
  transform: scale(1.03);
}